@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --after-scale: 1;
  --color-bg-highlight: #6a5ace;
  --color-highlight-start: #e1def4;
}

*,
*::after,
*::before {
  /* DEBUG HACK */
  /* outline: 1px solid lime; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
canvas {
  touch-action: none;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .custom_after {
    @apply after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:bg-white;
  }
  .custom_after_error {
    @apply after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:bg-red-400;
  }
  .highlight {
    @apply relative inline-block whitespace-nowrap rounded-lg bg-[--color-bg-highlight] bg-none text-[#e1def4] after:absolute after:bottom-[-7.5%] after:left-[-2.5%] after:top-[10%] after:z-[-1] after:w-[105%] after:scale-[1];
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .overlay-clip-path {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  .link-clip-path {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
